KGN.xcodeproj/project.xcworkspace/xcuserdata/mark.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
KGN.xcodeproj/project.xcworkspace/xcshareddata/swiftpm
KGN.xcodeproj/xcuserdata/mark.xcuserdatad/xcdebugger
AppleBERT/BERTSQUADFP16.mlmodel
KGN.xcodeproj/project.xcworkspace/xcuserdata/
KGN.xcodeproj/xcuserdata/markw8.xcuserdatad/

